<li class="one_word">
	<div class="key">
   <div class="word"><%= word.word %></div> 
   <div class="faBox"><i class="fa fa-plus-square-o"></i></div>
   <div class="star" data-word=<%=word.word%> data-count="<%= word.star||2 %>">
      <% var star=word.star||2; %>
      <% for(var i=0;i<5;i++){ %>
        <i class="fa <%= i<star?"fa-star active":"fa-star" %>"></i>
      <% } %>
      <i class="fa fa-pencil-square-o edit_enble"></i>
   </div>
   <div class="searchCount">查询<%= word.searchCount||1 %>次</div>
  </div>
	<div class="trans">
		<% if(word.trans.basic){var basic=word.trans.basic; %>	
    <ul class="phonetic_ui">
      <% if(basic["us-phonetic"]){ %>
        <li>[ us : <%= basic["us-phonetic"] %> ]</li>
      <% } %>
      <% if(basic["uk-phonetic"]){ %>
        <li>[ uk : <%= basic["uk-phonetic"] %> ]</li>
      <% } %>
    </ul>
		<ul class="basic">
			<% for(var i=0;i<word.trans.basic.explains.length;i++){ var explains=word.trans.basic.explains[i]; %>
				<li>
					<span><%= explains%></span>
				</li>
			<%}%>
		</ul>
		<%}%>
		<%if(word.trans.web){%>	
		<ul class="web">
			<%for(var i=0;i<word.trans.web.length;i++){ var web=word.trans.web[i];%>
				<li>
					<span class="web_key"><%= web.key%> : </span>
					<span><%= web.value%></span>
				</li>
			<%}%>
		</ul>
		<%}%>
    <% if(word.sentence){ %>
      <% for(var i=0; i<word.sentence.length;i++){ %>
        <div class="sentence">
          <%= word.sentence[i] %>
        </div>
      <% } %>
    <% } %>
    <div class="getSoundBox">
		  <div class="btn getSound " data-word="<%=word.word%>">发音</div>
    </div>
	<div>
</li>
